@font-face {
    font-family: 'neodgm';
    src: url('../fonts/neodgm.woff') format('woff');
}

.skils_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15vw;
    padding-left:5vw;
    align-items: center;
    padding-bottom: 200px;
    .t{
        border: 10px groove white;
        outline: 10px groove purple;
        border-radius: 2vw;
        width: 70vw;
        max-width: 1500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            color: rgb(238, 224, 203);
            font-family: "Silkscreen", sans-serif;
            font-weight: 700;
            font-size: clamp(30px,5vw,70px);
            
        }
    }
    .t-2{
        padding-top: 5vw;
        font-size: clamp(10px,3vw,50px);
        color: rgb(238, 224, 203);
        font-family: "neodgm";
    }
    .images{
        padding-top: 1vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        div{
            position: relative;
            p{
                visibility: hidden;
            }
            img{
                width: 8vw;
                margin: 2vw;
                border-radius: 2vw;
                display: block;
            }
            &:hover p{
                visibility: visible;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
                color: white;
                font-family: "neodgm";
                font-weight: bold;
                font-size: clamp(10px, 2vw, 30px);
                transition: opacity 0.3s ease;
            }
            &:hover img{
                opacity: 0.3;
            }
        }
    }
}